<div class="container">
  <h1>
    Azure Form Reader Demo
  </h1>
  <div class="card">
    <div class="card-header">
      Step 1: Upload PDFs (typically minimum 5)
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="storageAccount">Storage Account</label> 
          <input id="storageAccount" name="storageAccount" [(ngModel)]="storageAccount" placeholder="ex. somestorageaccount" class="form-control" />
        </div>
        <div class="form-group">
          <label for="sasToken">SAS Token</label> 
          <input id="sasToken" name="sasToken" [(ngModel)]="sasToken" placeholder="ex. ?sv=2019-10-10&ss=b&srt=sco&sp=rwdlac..." class="form-control" />
        </div>
        <div class="form-group">
          <label for="storageContainer">Storage Container</label> 
          <input id="storageContainer" name="storageContainer" [(ngModel)]="storageContainer" placeholder="ex. documents" class="form-control" />
        </div>
        <div class="form-group">
          <label for="file">PDFs to upload</label> 
          <input type="file" id="file" (change)="selectFile($event)" class="form-control-file" accept=".pdf" multiple="multiple" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="uploadFile()">Upload</button>
        </div>
      </form>
      <div class="alert alert-success" *ngIf="filesUploaded != null">
        Uploaded {{filesUploaded}} PDF(s).<br />
      </div>
      <div class="alert alert-info" *ngIf="uploading">
        Uploading...
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Step 2: Train a model
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="inputBucketUri">Container URI (including SAS token)</label> 
          <input id="inputBucketUri" name="inputBucketUri" [(ngModel)]="inputBucketUri" placeholder="ex. https://ACCOUNT.blob.core.windows.net/documents/?sv=2019-10-10&ss=b..." class="form-control" />
        </div>
        <div class="form-group">
          <label for="recognizerKey">Form Recognizer Subscription Key</label> 
          <input id="recognizerKey" name="recognizerKey" [(ngModel)]="recognizerKey" placeholder="ex. 7467532a1f541053b28d55d854b7e13b" class="form-control" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="trainModel()">Train</button>
        </div>
      </form>
      <div class="alert alert-success" *ngIf="trainedModelId != null">
        Model trained. Id: {{trainedModelId}}
      </div>
      <div class="alert alert-info" *ngIf="training">
        Training...
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Step 3: View trained model
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="inputModelId">Model ID</label> 
          <input id="inputModelId" name="inputModelId" [(ngModel)]="inputModelId" placeholder="ex. c62c0b65-f6cd-4d2f-a4a4-afe143a8f0c0" class="form-control" />
        </div>
        <div class="form-group">
          <label for="recognizerKey">Form Recognizer Subscription Key</label> 
          <input id="recognizerKey" name="recognizerKey" [(ngModel)]="recognizerKey" placeholder="ex. 7467532a1f541053b28d55d854b7e13b" class="form-control" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="viewModel()">View</button>
        </div>
      </form>
      <div class="alert alert-success" *ngIf="resultModel != null">
        <pre>{{resultModel | json}}</pre>
      </div>
      <div class="alert alert-info" *ngIf="viewing">
        Viewing...
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Step 4: Read form
    </div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="form">Form PDF</label> 
          <input type="file" id="form" (change)="selectForm($event)" class="form-control-file" accept=".pdf" />
        </div>
        <div class="form-group">
          <label for="inputModelId">Model ID</label> 
          <input id="inputModelId" name="inputModelId" [(ngModel)]="inputModelId" placeholder="ex. c62c0b65-f6cd-4d2f-a4a4-afe143a8f0c0" class="form-control" />
        </div>
        <div class="form-group">
          <label for="recognizerKey">Form Recognizer Subscription Key</label> 
          <input id="recognizerKey" name="recognizerKey" [(ngModel)]="recognizerKey" placeholder="ex. 7467532a1f541053b28d55d854b7e13b" class="form-control" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" (click)="readForm()">Read</button>
        </div>
      </form>
      <div class="alert alert-success" *ngIf="resultForm != null">
        <pre>{{resultForm | json}}</pre>
      </div>
      <div class="alert alert-info" *ngIf="reading">
        Reading...
      </div>
    </div>
  </div>

</div>